
<h1>Thank you for taking time and stopping by @ <a class="nav-link" [routerLink] ="['/home']">MyKathua.com</a> </h1>
<h2>At mykathua.com, it is all about Kathua.</h2>
<img src="../../assets/images/kth-main.png" class="img-fluid img-thumbnail" >
<h3>
We are open to ideas and would love to hear from all of you, so get in touch and leave your comments below or write to me <a href="mailto:mykathua@@gmail.com" >mykathua@gmail.com</a>.
</h3>

<kth-photo></kth-photo>
<h3>Enjoy your stay at mykathua.com and keep visiting!</h3>




